
<h1>Edit Game</h1>

<form #g="ngForm">

  <!--<div class="form-group">
    <input [ngModel]="game.id" name="id" id="id" class="form-control" value="{{game.id}}" hidden />
  </div>-->

  <div class="form-group">
    <label for="name">Name</label>
    <input [ngModel]="game.name" name="name" id="name" class="form-control" value="{{game.name}}" />
  </div>
  <div class="form-group">
    <label for="developer" ngModel>Developer</label>
    <input [ngModel]="game.developer" name="developer" id="developer" class="form-control" value="{{game.developer}}" />
  </div>
  <div class="form-group">
    <label for="release">Release</label>
    <input [ngModel]="game.release|date:'yyyy-MM-dd'" name="release" id="release" class="form-control" value="{{game.release | date:'yyyy-MM-dd'}}" />
  </div>


  <h2>Genres</h2>
  <div [ngModel]="genreIds" name="genres">
    <div class="form-check form-check-inline" *ngFor="let genre of genres">
      <input class="form-check-input" type="checkbox" name="genre{{genre.id}}" id="genre{{genre.id}}" [checked]="genreIds.includes(genre.id)" (change)="onGenresChange($event,genre.id)">
      <label class="form-check-label" for="genre{{genre.id}}">
        {{genre.name}}
      </label>
    </div>
  </div>


  <h2>Platforms</h2>
  <div [ngModel]="platformIds" name="platforms">
    <div class="form-check form-check-inline" *ngFor="let platform of platforms">
      <input class="form-check-input" type="checkbox" name="platform{{platform.id}}" id="platform{{platform.id}}" [checked]="platformIds.includes(platform.id)" (change)="onPlatformsChange($event,platform.id)">
      <label class="form-check-label" for="platform{{platform.id}}">
        {{platform.name}}
      </label>
    </div>
  </div>


  <div>
    <button class="btn btn-primary" (click)="navigateBack()">Back</button>
    <button class="btn btn-primary" (click)="updateGame(g.value,game.id)">Save</button>
  </div>


  <p>{{g.value | json}}</p>
</form>


<h2>Game</h2>
<p>{{game | json}}</p>


