/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

h1 {
  font-size: x-large;
  margin-bottom: 1.5rem;
}

h2{
    margin-top:2rem;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: 0;
}

.margin-right {
  margin-right:1rem;
}

.margin-left {
  margin-left:1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.item-block {
  display: block;
}

.container-flex {
  display: flex;
}

.container-block {
  display: block;
}

.dynamic-width {
  width: 100%;
}

.full-width {
  width: 100%;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.container-relative {
  position: relative;
}

.container-relative img {
  display: block;
}

.container-relative button {
  position: absolute;
  top: 0;
  right: 0;
}

  @media screen and (min-width: 768px) {
  .dynamic-width {
    width: 60%;
  }

  .container-flex {
    margin-top:2rem;
  }

  .flex-between {
    justify-content:flex-start;
  }

  .container-flex.flex-between h1{
      margin-right:4rem;
  }

}
