h1 {
  font-size: x-large;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
}

.container-flex{
    display:flex;
    width:100%;
}

.flex-start {
  justify-content: flex-start;
}

.margin-horizontal {
  margin: 0;
}

.flex-end {
  justify-content: flex-end;
}


.container-flex button {
  margin: 0.75rem 0.25rem;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.cell-center-align {
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .margin-horizontal {
    margin: 0 2rem;
  }

  .container-flex button {
    margin: 0.75rem;
  }

}
