
<h1>Games</h1>


<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="filter-nav">
    <p>Genres</p>
    <mat-checkbox class="margin-right item-block"
                  *ngFor="let genre of genres"
                  color="primary"
                  [checked]="filter.genres.includes(genre.id)"
                  (change)="onGenresChange($event,genre.id)">
      {{genre.name}}
    </mat-checkbox>
    <p>Platforms</p>
    <mat-checkbox class="margin-right item-block"
                  *ngFor="let platform of platforms"
                  color="primary"
                  [checked]="filter.platforms.includes(platform.id)"
                  (change)="onPlatformsChange($event,platform.id)">
      {{platform.name}}
    </mat-checkbox>
    <div class="container-flex full-width">
      <button mat-raised-button color="primary" (click)="onFilterChange()" type="button" class="item-block">Confirm</button>
      <button mat-raised-button color="primary" (click)="resetFilter()" type="reset" class="item-block">Reset</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-flex full-width flex-start">
      <button mat-button color="primary" (click)="sidenav.toggle()">Filter</button>
      <mat-form-field class="filter-search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <div class="container-flex full-width flex-end">
        <button mat-raised-button color="primary" type="button" [routerLink]="['/games/new']">New Game</button>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let game">
          <a [routerLink]="['/games/info',game.id]">{{game.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="developer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Developer </th>
        <td mat-cell *matCellDef="let game"> {{game.developer}} </td>
      </ng-container>

      <ng-container matColumnDef="release">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
        <td mat-cell *matCellDef="let game"> {{game.release | date:'MM/dd/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="cell-center-align"> Action </th>
        <td mat-cell *matCellDef="let game" class="cell-center-align">
          <button mat-button
                  color="primary"
                  type="button"
                  [routerLink]="['/games/edit',game.id]"
                  matTooltip="Edit"
                  [matTooltipShowDelay]="tooltipShowDelay.value">
              <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>





