h1 {
  font-size: x-large;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
}

.container-flex button {
  margin: 0.75rem 0.25rem;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.cell-center-align {
  text-align: center;
  justify-content: center;
}

.filter-nav{
    font-size:0.75rem;
}

.filter-nav p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.go-to-container {
  display: flex;
  align-items: baseline;
  background: white;
}

.fill-horizontal{
    background:white;
    flex-grow:1;
}

.fill-vertical {
  background: white;
  flex-grow: 1;
}

.flex-column{
    flex-direction:column;
}

.go-to-container .mat-form-field {
  width: 56px;
  margin: 6px 4px 0 4px;
  font-size: 12px;
}

.go-to-container .go-to-label {
  margin: 0 4px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.min-height-48 {
  min-height: 48rem !important;
}


@media screen and (min-width: 768px) {
  .filter-search {
    margin: 0 2rem;
  }

  .container-flex {
    margin-top:0;
  }

  .container-flex button {
    margin: 0.75rem;
  }

}
