h1 {
  font-size: x-large;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
}

.container-flex button {
  margin: 0.75rem 0.25rem;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.cell-center-align {
  text-align: center;
  justify-content: center;
}

.filter-nav{
    font-size:0.75rem;
}

.filter-nav p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .filter-search {
    margin: 0 2rem;
  }

  .container-flex button {
    margin: 0.75rem;
  }

}
