.container-flex.flex-between button{
    margin:0 0 1.5rem 0;
}

input{
    display:none;
}

img{
    margin:0.5rem 0;
}

.auto-line-break {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


