.btn {
  margin-right: 5rem;
}

.container-flex {
  margin-top: 2rem;
  display: flex;
}

.full-width{
    width:60%;
}

.label-small{
    margin-top:1rem;
    font-size:0.75rem;
    color:rgba(0,0,0,0.42);
}

.button-row button {
  margin-right: 1rem;
}

.button-row{
    margin-top:2rem;
}

h1{
    font-size:x-large;
    margin-bottom:1.5rem;
}
