
.label-small{
    margin-top:1rem;
    font-size:0.75rem;
    color:rgba(0,0,0,0.42);
}

.input-image {
  display: none;
}

.container-flex.flex-between button {
  margin: 0 1.5rem 1.5rem 0;
}

img {
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .container-flex.flex-between button {
    margin-right:3.5rem;
  }
}
