<div class="container-flex flex-between dynamic-width">
  <h1 *ngIf="this.game.id" class="margin-right">Edit Game</h1>
  <h1 *ngIf="!this.game.id" class="margin-right">New Game</h1>
  <button mat-raised-button color="primary" type="button" [routerLink]="['/games']" class="margin-left">Back</button>
</div>

<mat-tab-group class="dynamic-width">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>info</mat-icon>
      Game-Info
    </ng-template>
    <ng-template matTabContent>
      <form #g="ngForm" (ngSubmit)="submit()">
        <mat-form-field class="dynamic-width margin-top">
          <input [(ngModel)]="game.name"
                 name="name"
                 matInput
                 placeholder="Name"
                 required
                 minlength="2"
                 maxlength="255"
                 #gameName="ngModel">
          <mat-error *ngIf="gameName.invalid && gameName.errors.minlength">Name should be at least {{gameName.errors.minlength.requiredLength}} characters</mat-error>
        </mat-form-field>

        <mat-form-field class="dynamic-width">
          <input [(ngModel)]="game.developer"
                 name="developer"
                 matInput
                 placeholder="Developer"
                 required
                 minlength="2"
                 maxlength="255"
                 #gameDeveloper="ngModel">
          <mat-error *ngIf="gameDeveloper.invalid && gameDeveloper.errors.minlength">Developer should be at least {{gameDeveloper.errors.minlength.requiredLength}} characters</mat-error>

        </mat-form-field>

        <mat-form-field class="dynamic-width">
          <input [(ngModel)]="game.release"
                 name="release"
                 matInput
                 [matDatepicker]="picker"
                 placeholder="Release Date"
                 required
                 #gameRelease="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>


        <h2 class="label-small">Genres</h2>

        <section>
          <mat-checkbox class="margin-right" *ngFor="let genre of genres" color="primary"
                        [checked]="game.genres.includes(genre.id)"
                        (change)="onGenresChange($event,genre.id)">
            {{genre.name}}
          </mat-checkbox>
        </section>

        <h2 class="label-small">Platforms</h2>

        <section>
          <mat-checkbox class="margin-right" *ngFor="let platform of platforms" color="primary"
                        [checked]="game.platforms.includes(platform.id)"
                        (change)="onPlatformsChange($event,platform.id)">
            {{platform.name}}
          </mat-checkbox>
        </section>

        <div class="container-flex flex-between dynamic-width margin-top">
          <button mat-raised-button color="primary" type="reset" (click)="reset()" class="margin-right">Reset</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!g.valid" class="margin-left">Save</button>
        </div>

        <!--<p>{{g.value | json}}</p>
    <p>{{game | json}}</p>-->
      </form>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="!game.id">
    <ng-template mat-tab-label>
      <mat-icon>photo</mat-icon>
      Photos
    </ng-template>
    <ng-template matTabContent>
      <input type="file" (change)="previewPhotos(fileInput)"
             #fileInput
             accept="image/png,image/jpg,image/jpeg"
             class="input-image"
             multiple />
      <div class="container-flex flex-between">
        <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Select File</button>
        <button mat-raised-button color="primary" type="button" (click)="upload(fileInput)">Upload</button>
      </div>
      <div *ngFor="let photo of photos" class="container-relative">
        <img src="/uploads/{{photo.fileName}}" class="img-thumbnail full-width" />
        <button mat-icon-button color="accent" type="button" (click)="delete(photo)"><mat-icon>remove_circle</mat-icon></button>
      </div>

      <div *ngFor="let preview of previews" class="container-relative">
        <img src="{{preview}}" class="img-thumbnail full-width"/>
        <button mat-icon-button color="accent" type="button" (click)="delete(preview)"><mat-icon>remove_circle_outline</mat-icon></button>
      </div>
      

    </ng-template>
  </mat-tab>
</mat-tab-group>
