
.full-width{
    width:100%;
}

.label-small{
    margin-top:1rem;
    font-size:0.75rem;
    color:rgba(0,0,0,0.42);
}

.container-inline button {
  margin-right: 1rem;
}

.container-inline{
    display:flex;
    justify-content:space-between;
    margin:2rem 0;
    width:100%;
    padding:0 1.5rem;
}

h1{
    font-size:x-large;
    margin-bottom:1.5rem;
}

@media screen and (min-width: 768px) {
  .full-width {
    width: 60%;
  }

  .container-inline {
    display: block;
  }

  .container-inline button {
    margin-right: 2rem;
  }
}
