<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Developer</th>
      <th>Release Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr *ngFor="let game of games">
    <td><a [routerLink]="['/games/info',game.id]">{{game.name}}</a></td>
    <td>{{game.developer}}</td>
    <td>{{game.release | date:'yyyy-MM-dd'}}</td>
    <td><button class="btn btn-primary btn-sm" [routerLink]="['/games/edit',game.id]">Edit</button></td>
  </tr>
</table>

<button class="btn btn-primary" [routerLink]="['/games/new']">New Game</button>
